body {
	background-color: #87ceeb;
}

/* Add & Edit Poke Form */
.successFlashMessage, .errorFlashMessage, .infoFlashMessage {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #333;
    margin-top: 10px;
}

#map {
  height: 400px;
  width: 400px;
}