body {
	background-color: #87ceeb;
}

#map {
  height: 400px;
  width: 400px;
}

#textbox {
    float: left;
    width: 100%;
}

.review {
	height: 200px;
	width: 500px;
}

.title {
	width: 500px;
}





.star-ctr {
    display: inline-block;
    position: relative;
}

.star-ctr ul {
    white-space: nowrap;
    list-style: none outside none;
    padding-left: 0;
    overflow: hidden;
}

.star-fg {
    top: 0;
    position: absolute;
}

.star-ctr li {
    display: inline-block;
}

.star-ctr a > span {
    font-size: 3em;
}

.star-bg a > span {
    color: silver
}

.star-fg a > span {
    color: yellow;
}

.comment{background:aqua; height:40px}